<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988154685868-lamgmh8vikqtm2bkj21qaktso4q90s74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988154685868-lamgmh8vikqtm2bkj21qaktso4q90s74</string>
	<key>API_KEY</key>
	<string>AIzaSyDcuBCo_W0XSowthlVqL0vTKkpgvWSrl9w</string>
	<key>GCM_SENDER_ID</key>
	<string>988154685868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthroomApp</string>
	<key>PROJECT_ID</key>
	<string>health-room-2ff2e</string>
	<key>STORAGE_BUCKET</key>
	<string>health-room-2ff2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988154685868:ios:e33ff73abc0792e3d43209</string>
</dict>
</plist>